# Class – 04 -Assignment

1. A = { 55, 6, 8, 9, 11} , B = {44, 55, 89,54} apply set union.

In [1]:
A = { 55, 6, 8, 9, 11}
B = {44, 55, 89,54}

z = A.union(B)

print(z)

{6, 8, 9, 11, 44, 54, 55, 89}

2. Which data type not allow duplicate item. Give an example.

In [5]:
test_list = [1, 5, 3, 6, 3, 5, 6, 1]
print ("The original list is : ",test_list)

# using set() to remove duplicated from list
test_list = list(set(test_list))

# printing list after removal
print ("The list after removing duplicates : ",test_list)

The original list is :  [1, 5, 3, 6, 3, 5, 6, 1]
The list after removing duplicates :  [1, 3, 5, 6]

3. B={‘Django’: 16, ‘Project’: 8, ‘Students’: 20} print keys.

B={'Django': 16, 'Project': 8, 'Students': 20} 
print(B.keys())

4. Create a function & call the function.

In [15]:
def add(num1: int, num2: int):
    num3 = num1 + num2
    return num3

num1, num2 = 5, 15
ans = add(num1, num2)
print(f"The addition of {num1} and {num2} results {ans}.")

The addition of 5 and 15 results 20.

5. Create Class & Object.

In [11]:
class Name:
    A = "Shahadat Hossain"
    B = "Linkon"


    def fun(self):
        print("I'm a", self.A)
        print("I'm a", self.B)

Rodger = Name()

print(Rodger.A)
Rodger.fun()

Shahadat Hossain
I'm a Shahadat Hossain
I'm a Linkon

6. Give an example of Inheritance.

In [20]:
class Name:
    name = ""
    
    def eat(self):
        print("I can eat")

class T(Name):

    def display(self):
        print("My name is", self.name)

x = T()

x.name = "Linkon"
x.eat()

x.display()

I can eat
My name is Linkon